
@model Vidly.Models.Movie
@{
    ViewBag.Title = "Movieform";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (nameof(ActionResult)=="New".ToString())
{
    <h2>New Movie</h2>
}
else
{
    <h2>Edit Movie</h2>
}

@using (Html.BeginForm("Save", "Movies"))
{
    <div class="form-group">
        @Html.LabelFor(m=>m.Name)
        @Html.TextBoxFor(m=>m.Name, new {@class="form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m=>m.ReleaseDate)
        @Html.TextBoxFor(m=>m.ReleaseDate, new {@class="form-control"})
    </div>
 <div class="form-group">
        @Html.LabelFor(m=>m.Genre)
        @Html.TextBoxFor(m=>m.Genre, new {@class="form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m=>m.Stock)
        @Html.TextBoxFor(m=>m.Stock, new {@class="form-control"})
    </div>
<div class="form-group">
        @Html.LabelFor(m=>m.DateAdded)
        @Html.TextBoxFor(m=>m.DateAdded, new {@class="form-control"})
    </div>
    @Html.HiddenFor(m=>m.Id)
    <button type="submit" class="btn btn-primary">Save</button>

}